# Entorno virtual
venv/
__pycache__/
*.pyc

# Configuración local
.env

# Datos del sistema (imágenes temporales)
data/
!data/.gitkeep  # Si querés dejar la carpeta vacía en Git
.vscode/settings.json
# Pesos de modelos grandes
**/model-weights/*.weights
**/model-weights/*.h5
yolov8n-face.pt

raw_faces
known_faces
embeddings

.diff
.DS_Store